.left {
    width: 8%;
    height: 650px;
    background-color: aqua;
    float: left;
}

.right {
    height: 650px;
    width: 92%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    float: right;
}

.menu {
    text-align: center;
    height: 100px;
    width: 100%;
}

.book {
    text-align: center;
    height: 100px;
}

i {
    font-size: 40px;
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

.menu a {
    width: 150px;
    border-radius: 15px;
    color: darkgrey;
    margin-top: 10px;
}

.float {
    text-align: center;
    height: 100px;
}

.end {
    height: 100px;
    text-align: center;
}

.profile {
    display: flex;
}

.pro-left {
    width: 50%;
    text-align: center;
}

.pro-right {
    width: 50%;
    text-align: center;
}

.pro-left-a {
    width: 140px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    height: 10px;
    border-radius: 20%;
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
}

.ratio {
    display: flex;
}

.col-sm-4 {
    text-align: center;
}

.content {
    text-align: center;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border: 1px solid black;
    width: 50%;
    box-shadow: 20px 20px 50px 15px grey;
}

.profile {
    height: 130px;
}

a {
    text-decoration: none;
}